<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanikani.androidnotifier"
    android:versionCode="18"
    android:versionName="1.1.1" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>    
    
	<application
        android:icon="@drawable/ic_launcher"
        android:allowBackup="false"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:name="NotificationService" />

        <activity android:name="MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="SettingsActivity" />

        <activity android:name="WebReviewActivity"
            	  android:configChanges="orientation|keyboardHidden" />
        
        <receiver
            android:name="NotificationService$Receiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
     		<intent-filter>
        		<action android:name="android.intent.action.PACKAGE_REPLACED"/>
        		<data android:scheme="package" android:path="com.wanikani.androidnotifier" />
      		</intent-filter>
      </receiver>
      </application>

</manifest>